// -- LAYOUT -- 
$content-width: 1200px;


// -- COLORS --
$black:     #020202;
$dark-grey: #515456;
$light-grey:#BAC6CC;
$link-color:  #F0F3F7;


// -- FONT SIZES --
$font-base:  1rem;


// -- BREAKPOINTS --
$xl: 1175px;
$lg: 1024px;
$md: 768px;
$sm: 375px;