@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif; }

ul, ol {
  list-style: none; }

button {
  background: none;
  border: none; }
  button:hover {
    cursor: pointer; }

a {
  cursor: pointer;
  color: #F0F3F7; }

input {
  border: none;
  background: transparent; }

h1 {
  font-size: 7.8rem;
  font-weight: 700;
  line-height: 1.6; }
  @media all and (max-width: 1175px) {
    h1 {
      font-size: 6rem; } }
  @media all and (max-width: 1024px) {
    h1 {
      font-size: 4rem; } }
  @media all and (max-width: 375px) {
    h1 {
      font-size: 3.5rem; } }

p {
  font-size: 1.5rem;
  font-weight: 600; }
  @media all and (max-width: 1175px) {
    p {
      font-size: 1.2rem; } }
  @media all and (max-width: 1024px) {
    p {
      font-size: 1rem; } }
  @media all and (max-width: 375px) {
    p {
      font-size: 0.9rem; } }

@media all and (max-width: 768px) {
  h1, p {
    text-align: center; } }

i {
  font-size: 1.8rem; }

body {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.about-me {
  margin-top: 5rem;
  padding: 0 80px; }
  @media all and (max-width: 1175px) {
    .about-me {
      padding: 0 16px; } }
  .about-me__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto; }
    @media all and (max-width: 768px) {
      .about-me__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; } }
  .about-me__name {
    color: #020202; }
  .about-me__description {
    color: #BAC6CC; }
  .about-me__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3rem; }
    @media all and (max-width: 768px) {
      .about-me__socials {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .about-me__socials a {
      margin-right: 2.5rem; }
      .about-me__socials a:last-child {
        margin-right: 0; }
    .about-me__socials i {
      color: #515456;
      -webkit-transition: .2s linear color;
      transition: .2s linear color; }
      .about-me__socials i:hover {
        -webkit-transition: .3s linear color;
        transition: .3s linear color;
        color: #383a3c; }
  @media all and (max-width: 1024px) {
    .about-me__photo {
      width: 320px; } }
  @media all and (max-width: 375px) {
    .about-me__photo {
      width: 270px; } }

.footer {
  position: absolute;
  bottom: .5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: .8rem;
  color: #BAC6CC;
  text-align: center; }

/*# sourceMappingURL=default.css.map */
